{% extends 'base.html' %}
{% load static %}

       {% block subheader %}
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Product Details</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="/products/list">Product List</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <strong>Product Details</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>
        {% endblock %}

        {% block contents %}
             <div class="wrapper wrapper-content {{ content_class }}">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                            <form method="POST" action="">
                                {% csrf_token %}

                                {{ form_desc.name }}
                                {{ form_desc.description }}
                                {{ form_desc.long_description }}

                                <input type="submit" value="Update">
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

       {% endblock %}