<!DOCTYPE html>
<html lang="en">
<body>
<h1>Your order has been shipped</h1>

<p>Your order reference #{{ order_ref }} has now been shipped via {{ tracking_company }}. Below are the tracking details</p>

<table border="0" cellpadding="1" cellspacing="1" style="width:500px">
	<tbody>
		<tr>
            <td align="left"><img src="{{ thumbnail }}" height="50px"></td>
			<td>
                <p><strong>Tracking code:{{ tracking_ref }}</strong></p>
                <p><strong>Tracking website:</strong> <a href="{{ tracking_url }}">{{ tracking_url }}</a></p>
            </td>

		</tr>
	</tbody>
</table>

<p>Thank you for your order</p>

<p>Best regards</p>

<p>Safety Signs and Notices</p>

<table border="0" style="width:745px">
	<tbody>
		<tr>
			<td><img src="https://www.safetysignsandnotices.co.uk/image/ssan_logo_email_mib_lw.png" /></td>
			<td>&nbsp;</td>
			<td>Safety Signs and Notices Ltd<br />
			Heanor Gate Road<br />
			Heanor Gate Ind. Est.<br />
			Heanor, Derbyshire<br />
			DE75 7RJ<br />
			Tel: 0115 72 701 72<br />
			Fax: 0115 72 701 73<br />
			<a href="mailto:sales@safetysignsandnotices.co.uk" target="_blank">sales@safetysignsandnotices.co.uk</a>&nbsp;<br />
			<a href="https://www.safetysignsandnotices.co.uk/" target="_blank">www.safetysignsandnotices.co.uk</a></td>
		</tr>
	</tbody>
</table>

<p>Please consider the environment before printing this E-mail This file and any files attached with it are confidential and intended for the use of the individual or entity to which they are addressed. If you have received this email in error please notify Safety Signs &amp; Notices immediately. This message contains confidential information and is intended only for the individual named. If you are not the named addressee you should not disseminate, distribute or copy this email. Please notify the sender immediately by email. If you have received this email by mistake please delete this email from your system. If you are not the intended recipient you are notified that disclosing, copying, distributing or taking any action in reliance on the contents of this information is strictly prohibited. For information regarding Safety Signs &amp; Notices please visit our website&nbsp;<a href="https://www.safetysignsandnotices.co.uk/" target="_blank">www.safetysignsandnotices.co.uk</a></p>

</body>
</html>