{% extends 'base.html' %}
{% load static %}

       {% block subheader %}
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Missing orders in Xero</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <strong>Missing orders in Xero</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>
        {% endblock %}

        {% block contents %}

            <div class="wrapper wrapper-content {{ content_class }}">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <table id="xero_missing_list" class="table table-hover table-striped table-bordered table-sm"
                                       style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Date</th>
                                        <th>Company</th>
                                        <th>Firstname</th>
                                        <th>Lastname</th>
                                        <th>Status</th>
                                        <th>Total</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        <a class="btn btn-warning" href="/sales/xero_push_all" role="button">Push ALL</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
{% block extra_js %}
<script>
$(document).ready(function() {
    $('#xero_missing_list').DataTable( {
        "processing" : true,
        "lengthMenu" : [[10,25,50,100,-1], [10,25,50,100,"All"]],
        "pageLength": 25,
        "autoWidth": false,
        "ajax": {
                 "processing": true,
                 "url": "/sales/json_xero_order_data",
                 "dataSrc": "order_data",
             },
        "deferRender": true,
        columns: [
            {data: 0},
            {data: 1},
            {data: 2},
            {data: 3},
            {data: 4},
            {data: 5},
            {data: 6},
            ]

    } );
} );



</script>
{% endblock %}
