{% extends 'base.html' %}
{% load static %}
{% block header %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"/>
    {% endblock %}


        {% block contents %}

            <div class="wrapper wrapper-content">
        <div class="row">
                    <div class="col-lg-4">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <span class="label label-info float-left">Today</span>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                <div class="col-lg-9">

                            <div>
                                <canvas id="doughnutDailyChart" ></canvas>
                            </div>

                                </div>
                                <div class="col-lg-3">
                                    {%  include 'sales_stats_list.html' with stats_range=daily_stats %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <span class="label label-info float-left">Weekly</span>
                            </div>
                             <div class="ibox-content">
                                <div class="row">
                                <div class="col-lg-9">
                                     <div>
                                        <canvas id="stackWeeklyChart" ></canvas>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    {%  include 'sales_stats_list.html' with stats_range=weekly_stats %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <span class="label label-info float-left">Monthly</span>
                            </div>
                             <div class="ibox-content">
                                <div class="row">
                                <div class="col-lg-9">
                                    <div>
                                        <canvas id="barMonthlyChart" ></canvas>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    {%  include 'sales_stats_list.html' with stats_range=monthly_stats %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>


                </div>
        {% endblock %}

{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
<script>
$(function () {

    var doughnutDataDaily = {
        labels: ["WebSite","Medusa","Account" ],
        datasets: [{
            data: [{{ daily_stats.direct.value|floatformat:2 }},{{ daily_stats.medusa.value|floatformat:2 }},{{ daily_stats.account.value|floatformat:2 }}],
            backgroundColor: ["#3fde00","#243fe1","#cf00a0"]
        }]
    } ;


    var doughnutOptionsDaily = {
        responsive: true,
    };

    var ct_daily = document.getElementById("doughnutDailyChart").getContext("2d");
    new Chart(ct_daily, {type: 'doughnut', data: doughnutDataDaily, options:doughnutOptionsDaily});


    var stackDataDaily = {
        labels: ["Mon","Tues","Wed","Thur", "Fri", "Sat", "Sun" ],
        datasets: [{
                label: 'WebSite',
                data: {{ weekly_chart.datapoint.direct }},
                backgroundColor: "#3fde00"
            },
            {
                label: 'Medusa',
                data: {{ weekly_chart.datapoint.medusa }},
                backgroundColor: "#243fe1"
            },
            {
                label: 'Account',
                data: {{ weekly_chart.datapoint.account }},
                backgroundColor: "#cf00a0"
            }]
        };



    var stackOptionsWeekly = {
        responsive: true,
        scales: {
            xAxes: [{ stacked: true }],
        yAxes: [{ stacked: true }]
        },

        tooltips: {
            mode: 'label',
            callbacks: {
                label: function(tooltipItem, data) {
                    var sales = data.datasets[tooltipItem.datasetIndex].label;
                    var valor = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                    //return sales + " : £" + valor.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '£1,');
                    return sales + " : £" + valor.toFixed(2);
                },
                afterBody: function (tooltipItem, data) {
                	  var sales = data.datasets[tooltipItem[0].datasetIndex].label;
                    var valor = data.datasets[tooltipItem[0].datasetIndex].data[tooltipItem[0].index];
                    var total = 0;
                    for (var i = 0; i < data.datasets.length; i++)
                        total += data.datasets[i].data[tooltipItem[0].index];
                  	return "Total : £" + total.toFixed(2);
                }

            }
        }
    };

    var ct_weekly = document.getElementById("stackWeeklyChart").getContext("2d");
    new Chart(ct_weekly, {type: 'bar', data: stackDataDaily, options:stackOptionsWeekly});



    var barDataMonthly = {

        datasets: [{
                label: 'Total Sales',
                data: [
                    {% for key, value in monthly_chart.datapoint.items %}
                        { t: '{{ key }}',  y: {{ value }} } ,
                    {% endfor %}
                ],
                backgroundColor: "#de7020"
            }]
        };

    var barOptionsMonthly = {
        responsive: true,
        scales: {
            xAxes: [{
                type: 'time',
                distribution: 'linear',
                time: {
                    unit: 'day',
                    min: '{{ monthly_chart.range.start }}',
                    max: '{{ monthly_chart.range.end }}'
                }
            }]
        }
    };

    var ct_monthly = document.getElementById("barMonthlyChart").getContext("2d");
    new Chart(ct_monthly, {type: 'bar', data: barDataMonthly, options:barOptionsMonthly});

})
</script>
{% endblock %}

